<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <div class='rating-sort'>
    <h3>Sort By Rating</h3>
    <label>
      <Input
        @type='radio'
        id='asc'
        name='sort'
        @value='asc'
        {{on 'input' this.sortMoviesByRating}}
      />
      Ascending
    </label>

    <label>
      <Input
        @type='radio'
        id='desc'
        name='sort'
        @value='desc'
        {{on 'input' this.sortMoviesByRating}}
      />
      Descending
    </label>
  </div>

  <hr />

  {{#if this.isLoading}}
    <h2>Loading Movies...</h2>
  {{else}}
    <MovieList @movies={{this.movies}} @loadMovies={{this.loadMovies}} />
  {{/if}}

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>