{{! add tests to ensure all info there? }}

<li class={{this.styleNamespace}}>
  <div class='details'>
    {{#if this.isEditing}}
      <form>
        <label>
          Title
          <Input @type='text' @value={{this.newTitle}} placeholder='Title..' />
        </label>

        <label>
          Description
          <Input
            @type='text'
            @value={{this.newDescription}}
            placeholder='Description..'
          />
        </label>

        <label>
          Rating
          <Input
            @type='text'
            @value={{this.newRating}}
            placeholder='Rating..'
          />
        </label>
        <button type='button'>Cancel</button>
        <button type='submit'>Save</button>
      </form>
    {{else}}
      <h2>
        {{this.movie.title}}
      </h2>

      <p>
        {{this.movie.description}}
      </p>

      {{#if this.movie.rating}}
        <p>Rating: {{this.movie.rating}}</p>
      {{/if}}
      <button type='button' {{on 'click' this.editMovie}}>Edit</button>
      <button type='button' {{on 'click' this.deleteMovie}}>Delete</button>
    {{/if}}
  </div>
</li>