<li class={{this.styleNamespace}}>
  <div class='details'>
    {{#if this.isEditing}}
      <form {{on 'submit' this.submitMovieEdit}}>
        <label>
          Title
          <Input
            @type='text'
            @value={{this.newTitle}}
            placeholder='Title..'
            required={{true}}
          />
        </label>

        <label>
          Description
          <Input
            @type='text'
            @value={{this.newDescription}}
            placeholder='Description..'
            required={{true}}
          />
        </label>

        <div class='rate'>
          <h4>Rating</h4>
          <p>★: {{this.newRating}}</p>
          <Input
            @type='radio'
            id='star1'
            name='rate'
            @value='1'
            {{on 'input' this.editMovieRating}}
          />
          <label for='star1'>★</label>

          <Input
            @type='radio'
            id='star2'
            name='rate'
            @value='2'
            {{on 'input' this.editMovieRating}}
          />
          <label for='star2'>★</label>

          <Input
            @type='radio'
            id='star3'
            name='rate'
            @value='3'
            {{on 'input' this.editMovieRating}}
          />
          <label for='star3'>★</label>

          <Input
            @type='radio'
            id='star4'
            name='rate'
            @value='4'
            {{on 'input' this.editMovieRating}}
          />
          <label for='star4'>★</label>

          <Input
            @type='radio'
            id='star5'
            name='rate'
            @value='5'
            {{on 'input' this.editMovieRating}}
          />
          <label for='star5'>★</label>
        </div>

        {{#if this.errorMessage}}
          <div class='error-message'>
            {{this.errorMessage}}
          </div>
        {{/if}}

        <button
          type='button'
          {{on 'click' this.toggleIsEditing}}
        >Cancel</button>
        <button type='submit'>Save</button>
      </form>
    {{else}}
      <h2>
        {{this.movie.title}}
      </h2>

      <p>
        {{this.movie.description}}
      </p>

      {{#if this.movie.rating}}
        <p>★: {{this.movie.rating}}</p>
      {{/if}}

      {{#if this.errorMessage}}
        <div class='error-message'>
          {{this.errorMessage}}
        </div>
      {{/if}}

      <button type='button' {{on 'click' this.toggleIsEditing}}>Edit</button>
      <button type='button' {{on 'click' this.deleteMovie}}>Delete</button>
    {{/if}}
  </div>
</li>