<form class={{this.styleNamespace}} {{on 'submit' this.addMovie}}>
  <label class='form-label-title'>
    Title
    <Input
      @type='text'
      @value={{this.title}}
      class={{if this.title 'text-in-field' 'form-title'}}
      placeholder='Title..'
      required={{true}}
    />
  </label>

  <label class='form-label-description'>
    Description
    <Input
      @type='text'
      @value={{this.description}}
      class={{if this.description 'text-in-field' 'form-description'}}
      placeholder='Description..'
      required={{true}}
    />
  </label>

  <div class='rate'>
    <h4>Rating</h4>
    <Input
      @type='radio'
      id='star1'
      name='rate'
      @value='1'
      {{on 'input' this.addRating}}
    />
    <label for='star1'>★</label>
    <Input
      @type='radio'
      id='star2'
      name='rate'
      @value='2'
      {{on 'input' this.addRating}}
    />
    <label for='star2'>★</label>
    <Input
      @type='radio'
      id='star3'
      name='rate'
      @value='3'
      {{on 'input' this.addRating}}
    />
    <label for='star3'>★</label>
    <Input
      @type='radio'
      id='star4'
      name='rate'
      @value='4'
      {{on 'input' this.addRating}}
    />
    <label for='star4'>★</label>
    <Input
      @type='radio'
      id='star5'
      name='rate'
      @value='5'
      {{on 'input' this.addRating}}
    />
    <label for='star5'>★</label>
  </div>

  {{#if this.errorMessage}}
    <div class='error-message'>
      {{this.errorMessage}}
    </div>
  {{/if}}

  <button type='submit'>
    Add Movie
  </button>
</form>